*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: black;
}

div.container div.ball{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.9, 0.47, 0, 1.11);
}

div.container:hover div.ball{
    /*transform: rotateZ(60deg);*/
    cursor: pointer;
    /*transform: scale(2);*/
    transform: translateX(400px);
    background-color: cyan;
    /*border-radius: 50%;/*
}